<%= render :partial => '/shared/head' %>
<%= render :partial => '/shared/menu' %>

<div class="container-fluid">
  </div>
  <div class="row">
  	<div class="col-lg-4">
  		<div class="welcome_header">
	    	<h2 id="index_welcome">Practice Notes</h2>
	    	<h1 id="index_welcome">♪</h1>
	    </div>
  	</div>
  	<div class="col-lg-4">
  		<div class="welcome_header">
	    	<h2 id="index_welcome">Learn Notes</h2>
	    	<h1 id="index_welcome">♪</h1>
	    </div>
  	</div>
  	<div class="col-lg-4">
  		<div class="welcome_header">
	    	<h2 id="index_welcome">Explore Music</h2>
	    	<h1 id="index_welcome">♪</h1>
	    </div>
  	</div>
  </div>
</div>

<script>
	$(document).ready(function() {
		var item = document.getElementById("home");
		item.setAttribute("class", "active");
	});
</script>
</body>
</html>