<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li id="home"><a href="<%= welcome_index_path %>">Home</a></li>
	        <li id="practice"><a href="<%= static_pages_test_path %>">Practice</a></li>
	        <li id="learn"><a href="<%= tests_path %>">Learn</a></li>
	        <li id="add"><a href="<%= new_test_path %>">Add notes</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>